if status is-interactive
    # Commands to run in interactive sessions can go here
end

# https://iterm2.com/documentation-shell-integration.html
test -e ~/.iterm2_shell_integration.fish && source ~/.iterm2_shell_integration.fish

# https://github.com/IlanCosman/tide
set -g tide_left_prompt_items os pwd git newline character
set -g tide_right_prompt_items status cmd_duration context jobs virtual_env php go node kubectl time
set -g tide_node_icon 

# gpg
set -x GPG_TTY (tty)

# timezone
set -x TZ Europe/Kiev

# set default editor https://unix.stackexchange.com/questions/73484/how-can-i-set-vi-as-my-default-editor-in-unix
set -x VISUAL micro
set -x EDITOR "$VISUAL"
set -x MICRO_TRUECOLOR 1 # enable true color

# enable 256 terminal color mode
set -x COLORTERM xterm-256color #24bit
set -x TERM xterm-256color

# https://github.com/ajeetdsouza/zoxide
if command -q zoxide; zoxide init fish --cmd cd | source; end

# https://github.com/antonmedv/fx
set -x FX_LANG js
set -x FX_SHOW_SIZE true

# https://github.com/garabik/grc
if which grc | grep -q nix; and command -q nix-store; source (nix-store -q (which grc))/etc/grc.fish end

# https://nixos.wiki/wiki/Locales
set -x LOCALE_ARCHIVE /usr/lib/locale/locale-archive

# nix home-manager https://nix-community.github.io/home-manager/index.html#sec-install-standalone
set -x NIX_PATH $HOME/.nix-defexpr/channels /nix/var/nix/profiles/per-user/root/channels

# https://github.com/asdf-vm/asdf 
source (nix-store -q (which asdf))/share/fish/vendor_completions.d/asdf.fish
source (nix-store -q (which asdf))/share/asdf-vm/asdf.fish
