{ config, pkgs, ... }:

{
  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;

  # Set nixpkgs options (for home-manager installed packages only).
  nixpkgs.config = {
    allowUnfree = true;
    cudaSupport = true;
  };

  # Packages.
  home.packages = with pkgs; [
		# terminal utils
		bat
		bat-extras.batdiff
		bat-extras.batgrep
		bat-extras.batman
		fd
		ripgrep
		fselect
		exa
		fzf
		delta
		git-extras
		zoxide
		imgcat
		xplr
		gping
		grc

		# system utils
		graphviz
		yadm
		btop
		ctop
		lazydocker
		lnav
		sqlite
		iperf
		nmap
		restic
		asdf-vm

		# View disk space usage and delete unwanted data, fast.
		# https://github.com/Byron/dua-cli
		dua
		
		# json
		jless
		jq
		fx
		
		# editors
		micro
		# neovim
		
		# http
		httpie
		xh
    wget
  ];
}
